{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<br>
    <div class="row no-gutters">
      <div class="col-lg-4">
        <img class = "thumbnail" src="{{product.imageURL}}" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">Tác giả: {{ product.author }}</p><hr>
          <p class="card-text">Mô tả : {{ product.description }}</p>
        </div>
      </div>
    </div>

<!-- <p>Follow Author: </p> -->

{% endblock content %}
